---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { formatDate } from "@utils/utils";

interface Props {
  blogEntry: {
    data: {
      title: string;
      slug: string;
      author: string;
      cardImage: { url: string; altText: string };
      pubDate: Date;
      readTime: number;
    };
  };
}

const { blogEntry } = Astro.props;
---

<a href={`/blog/${blogEntry.data.slug}`}>
  <article class="group flex flex-col rounded-xl border p-5 shadow-sm md:flex-row dark:border-neutral-700 dark:bg-neutral-900">
    <div class="order-2 mt-5 md:order-1 md:mt-0 md:pe-8">
      <p class="text-xs font-medium text-neutral-600 dark:text-neutral-400">
        {formatDate(blogEntry.data.pubDate)}
      </p>
      <h3
        class="mt-2 text-xl font-semibold text-neutral-800 transition-colors duration-500 ease-in-out group-hover:text-primary-600 md:text-2xl dark:text-neutral-200"
      >
        {blogEntry.data.title}
      </h3>
      <div class="mt-4 flex items-center gap-x-2.5 text-xs">
        <span class="font-medium text-neutral-800 dark:text-neutral-200"
          >{blogEntry.data.author}</span
        >
        <span class="text-neutral-500 dark:text-neutral-500">•</span>
        <span class="text-neutral-500 dark:text-neutral-500"
          >{blogEntry.data.readTime} min read</span
        >
      </div>
    </div>
    <div
      class="order-1 h-36 w-full shrink-0 overflow-hidden rounded-xl md:order-2 md:w-36"
    >
      <img
        class="h-full w-full object-cover transition-transform duration-500 ease-in-out group-hover:scale-105"
        src={blogEntry.data.cardImage.url}
        alt={blogEntry.data.cardImage.altText}
        draggable={"false"}
        loading={"lazy"}
      />
    </div>
  </article>
</a>