---
import AvatarBlogLarge from "@components/ui/avatars/AvatarBlogLarge.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";

interface Props {
  blogEntry: {
    data: {
      title: string;
      slug: string;
      author: string;
      cardImage: { url: string; altText: string };
      pubDate: Date;
    };
  };
  recentBlogLocale?: string;
}

const { blogEntry, recentBlogLocale = "" } = Astro.props;
---

<div class="grid gap-8 sm:grid-cols-2 sm:items-center">
  <div class="sm:order-2">
    <div class="relative rounded-lg pt-[50%] sm:pt-[100%]">
      <img
        class="absolute start-0 top-0 size-full rounded-xl object-cover"
        src={blogEntry.data.cardImage.url}
        alt={blogEntry.data.cardImage.altText}
        draggable="false"
        loading="eager"
      />
    </div>
  </div>
  <div class="sm:order-1">
    <h2
      class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight"
    >
      <a
        class="outline-hidden ring-zinc-500 transition duration-300 hover:text-orange-400 focus-visible:ring-3 dark:text-neutral-300 dark:ring-zinc-200 dark:hover:text-neutral-50 dark:focus:outline-hidden"
        href={`/blog/${blogEntry.data.slug}`}
      >
        {blogEntry.data.title}
      </a>
    </h2>
    <div class="mt-6 flex items-center sm:mt-10">
      <AvatarBlogLarge
        blogEntry={{
          id: blogEntry.data.slug,
          collection: "blog",
          data: {
            author: blogEntry.data.author,
            cardImage: blogEntry.data.cardImage,
            pubDate: blogEntry.data.pubDate,
          },
        }}
      />
      <div class="ms-3 sm:ms-4">
        <p class="font-bold text-neutral-800 dark:text-neutral-200 sm:mb-1">
          {blogEntry.data.author}
        </p>
      </div>
    </div>
    <div class="mt-5">
      <PrimaryCTA
        url={`/blog/${blogEntry.data.slug}`}
        title="Read More"
        data-astro-prefetch
      />
    </div>
  </div>
</div>