---
// Import necessary modules and utilities
import AvatarBlogLarge from "@components/ui/avatars/AvatarBlogLarge.astro";

// Definisikan interface props yang baru, sesuai dengan format data Sanity
interface Props {
  blogEntry: {
    data: {
      title: string;
      slug: string;
      author: string;
      cardImage: { url: string; altText: string };
      pubDate: Date;
      readTime: number;
    };
  };
}

const { blogEntry } = Astro.props;
---

<div class="group relative flex flex-col items-start gap-4 transition duration-300 hover:scale-[1.01] hover:shadow-lg focus:scale-[1.01] focus:shadow-lg motion-reduce:transition-none">
  <div class="relative w-full overflow-hidden rounded-md pt-[50%]">
    <img
      class="absolute start-0 top-0 size-full rounded-xl object-cover transition-transform duration-300 group-hover:scale-110"
      src={blogEntry.data.cardImage.url}
      alt={blogEntry.data.cardImage.altText}
      draggable="false"
    />
  </div>
  <div>
    <h3 class="mb-2 text-balance text-xl font-semibold tracking-tight text-neutral-800 dark:text-neutral-200">
      <a class="outline-hidden ring-zinc-500 transition duration-300 hover:text-orange-400 focus-visible:ring-3 dark:ring-zinc-200 dark:hover:text-neutral-50 dark:focus:outline-hidden" href={`/blog/${blogEntry.data.slug}/`}>
        {blogEntry.data.title}
      </a>
    </h3>
    <div class="flex items-center gap-x-3">
      <AvatarBlogLarge
        blogEntry={{
          id: blogEntry.data.slug,
          collection: "blog",
          data: {
            author: blogEntry.data.author,
            cardImage: blogEntry.data.cardImage,
            pubDate: blogEntry.data.pubDate,
          },
        }}
      />
      <div class="text-xs text-neutral-500 dark:text-neutral-400">
        <span class="relative inline-block pe-3 before:absolute before:end-1 before:top-1/2 before:size-1 before:-translate-y-1/2 before:rounded-full before:bg-neutral-300 last:pe-0 last-of-type:before:hidden dark:before:bg-neutral-600">
          {blogEntry.data.author}
        </span>
        <span class="relative inline-block pe-3 before:absolute before:end-1 before:top-1/2 before:size-1 before:-translate-y-1/2 before:rounded-full before:bg-neutral-300 last:pe-0 last-of-type:before:hidden dark:before:bg-neutral-600">
          {blogEntry.data.readTime} min read
        </span>
      </div>
    </div>
  </div>
</div>